.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hideinMobile{display: block;}
.showInmobile { display: none;}

.mat-toolbar{ background: none;}
.nobg{ background: none; cursor: pointer; border:none;}


.feedbackTextarea{ width: 70%; margin:0 auto;}
.feedbackTextarea p{color:#919EAF; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: 400; line-height: 22px; margin-bottom: 40px;}

.three_service{ height: auto !important;}
.countryNumber{ padding: 15px 25px; border:1px solid #919EAF; margin-bottom:20px; }
.countryNumber img{ margin-right: 10px;}
.countryNumber span{ color: #919EAF; font-size: 16px; font-family: 'Montserrat', sans-serif; font-weight: 400;}
.marginB2 a:hover{ text-decoration: none;}


@media only screen and (max-width: 650px)  {
  
  .hideinMobile{display: none;}
  .showInmobile { display: block;}
  .feedbackTextarea{ width: 100%; padding: 0 10px; margin:0 auto;}
  .three_service{ height: 360px;}
  .signupformArea{padding:40px 0;}
  h2.heading_style2{margin-bottom: 10px;}
  .marginBottom,.marginB2{ margin-bottom: 25px !important;} 
  .feedbackTextarea{ padding: 20px 10px 0;}
}