<footer class="footer_style">
	<div class="container bordertop">
    	<div class="footer_section1">
        	<div class="row">
           	  <div class="footer_column1">
                <div class="raza_logo2">
                	<a routerLink="/"><img src="assets/images/raza_footerlogo.png" alt=""/></a>
                </div>
                <div class="ph_no">
                	<span>Call us today</span>
                    1-(800) 463-4233
                </div>
              </div>
                <div class="footer_column2">
                	<h4 class="heading_style3">My account</h4>
                    <div class="footer_menu">
                    <ul>
                    	<li><a href="#">Overview</a></li>
                        <li><a routerLink="/myaccount">My profile</a></li>
                        <li><a href="#">Purchase history</a></li>
                        <li><a routerLink="/recharge">Recharge</a></li>
                    </ul>
                    </div>
                </div>
                <div class="footer_column2">
                	<h4 class="heading_style3">Company</h4>
                    <div class="footer_menu">
                    <ul>
                    	<li><a routerLink="/aboutus">About raza</a></li>
                        <li><a routerLink="/howitworks">How it works</a></li>
                        <li><a routerLink="/contactus">Contact us</a></li>
                        <li><a routerLink="/becomeapartner">Become a partner</a></li>
                    </ul>
                    </div>
                </div>
                <div class="footer_column2">
                	<h4 class="heading_style3">Services</h4>
                    <div class="footer_menu">
                    <ul>
                    	<li><a href="#">International calling</a></li>
                        <li><a routerLink="/mobiletopup">Mobile Top-up</a></li>
                        <li><a routerLink="/virtualnumber">Virtual numbers</a></li> 
                    </ul>
                    </div>
                </div>
                <div class="footer_column2">
                	<h4 class="heading_style3">Quick Links</h4>
                    <div class="footer_menu">
                    <ul>
                    	<li><a routerLink="/features">Features</a></li>
                        <li><a href="#">Mobile APP</a></li>
                        <li><a routerLink="/searchrates">Search Rates</a></li>
                        <li><a routerLink="/faq">FAQs</a></li>
                        <li><a routerLink="/feedback">Give us your feedbacks</a></li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_section2">
        	<div class="row">
            	<div class="col-xl-6 text-left">
                	<div class="app_list">
                    	<ul>
                        	<li>
                            	<a href="#">
                                	<img src="assets/images/icon_googleplaystore.svg" alt="app">
                                </a>
                            </li>
                            <li>
                            	<a href="#">
                                	<img src="assets/images/icon_appstore.svg" alt="app">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 text-right">
                	<div class="social_list">
                    	<ul>
                        	<li>
                            	<a href="#">
                                	<i class="fab fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                            	<a href="#">
                                	<i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                            	<a href="#">
                                	<i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_section3">
        	<div class="row">
            	<div class="col-xl-6">
                	<div class="app_list">
                    	<ul>
                        	<li>
                            	<img src="assets/images/icon_payment.png" alt="app">
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 text-right">
                	<div class="footer_menu2">
                    	<ul>
                        	<li>
                            	<a href="#">Privacy and cookies statement</a>
                            </li>
                            <li>
                            	<a routerLink="/termsandcondition">Terms and conditions</a>
                            </li>
                            <li>
                            	<a routerLink="/mobileterms">Mobile Top-up T &amp; C</a>
                            </li>
                        </ul>
                    </div>
                    <div class="copyright">
                    	&copy; 2017 Raza Communications™ 
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>