<a mat-list-item routerLink=".">
        <span class="mainSpan">INTERNATIONAL CALLING
          <span class="slider"></span>
        </span>
      
      </a>
      <a mat-list-item routerLink=".">
        <span class="mainSpan">MOBILE TOP-UP
          <span class="slider"></span>
        </span>
      
      </a>
      <a mat-list-item routerLink=".">
        <span class="mainSpan">CALL ME LOCAL
          <span class="slider"></span>
        </span>
        <span class="subMenu"><img src="assets/images/sub_menu_icon.svg" alt="arrow down" /></span>
      </a>
      <a mat-list-item routerLink=".">
        <span class="mainSpan">SIGNUP / LOGIN
          <span class="slider"></span>
        </span>
        <span class="subMenu"><img src="assets/images/sub_menu_icon.svg" alt="arrow down" /></span>
      </a>
      <a mat-list-item routerLink="/recharge">
        <span class="mainSpan">RECHARGE
          <span class="slider"></span>
        </span>
      
      </a>
      <a mat-list-item routerLink=".">
        <span class="mainSpan">LIVE CHAT
          <span class="slider"></span>
        </span>
      
      </a>
      <a mat-list-item routerLink="/contactus">
        <span class="mainSpan">CONTACT US
          <span class="slider"></span>
        </span>
      
      </a>