
<mat-sidenav-container>
<mat-sidenav class="slidemenu" fixedInViewport="true" #sidenav [mode]="mode.value">
    <div class="closs_area">
        <span class="cross-icon" (click)="sidenav.toggle()">
          <img src="assets/images/cross_icon_sidemenu.jpg" alt=""/>
        </span>
        <span>
          <mat-form-field>
          <mat-select placeholder="EN">
            <mat-option value="en">EN</mat-option>
          </mat-select>
        </mat-form-field>
        </span>         
    </div>
    <mat-nav-list role="list">
      <app-sidemenu></app-sidemenu>
    </mat-nav-list>
    <div class="form_row1">
        <div class="input_holder1">
            <button mat-button class="submitButton">Free Trail</button> 
        </div>
    </div>
</mat-sidenav>
<mat-sidenav-content>
<div class="wraper">
<div class="first_fold">

<header [ngClass]="{'active': headerValue == 1, 'disabled2': headerValue == 2}" class="header_style2">
  
  <mat-toolbar>  
    <mat-toolbar-row>
    <button class="matButtonBGN1" mat-button (click)="sidenav.toggle()">
      <img src="assets/images/more_icon_white.png"  alt=""/>
      <img src="assets/images/menu_icon_black.png" alt=""/>
    </button>
    <span class="colorWhite" routerLink="/deal1">DEALS</span>
    <span class="colorWhite">SHOP</span>
    <span class="example-spacer"></span>
    <span class="logo"><a routerLink="/homepage"><img src="assets/images/raza_logo.png" alt=""/></a></span>
    <span class="example-spacer"></span>
    <span class="colorWhite" routerLink="/recharge1">RECHARGE</span>
    <button class="matButtonBGN0 nobg" mat-button [matMenuTriggerFor]="menu">
      <img src="assets/images/account.svg" alt=""/>
      <img src="assets/images/account_black.png" alt=""/> 
    </button>
    <mat-menu #menu="matMenu" class="loginDropDown">
      <h3>Welcome</h3>
      <p>Manage your account by just logging in. Discover new features that are absolutely free!</p>

      <p>New customer? Register or just download Raza app now!</p>
      <button mat-button class="submitButton">Sign Up</button>
      <button mat-button class="submitButton loginButton">Login</button> 
    </mat-menu>
  </mat-toolbar-row>
  </mat-toolbar>
</header>

<header [ngClass]="{'active': headerValue == 2, 'disabled': headerValue == 1}" class="header_style2 headerBackground"> 
  <mat-toolbar>  
    <mat-toolbar-row>
    <button class="matButtonBGN2" mat-button (click)="sidenav.toggle()">
      <img src="assets/images/menu_icon_black.png" alt=""/>
      <img src="assets/images/more_icon_white.png"  alt=""/>
    </button>
    <span class="colorWhite" routerLink="/deal1">DEALS</span>
    <span class="colorWhite">SHOP</span> 
    <span class="example-spacer"></span>
    <span><a routerLink="/homepage"><img  width="137" height="46" src="assets/images/raza_logo_black.png" alt=""/></a></span>
    <span class="example-spacer"></span>
    <span class="colorWhite" routerLink="/recharge1">RECHARGE</span>
    <button class="matButtonBGN-next nobg" mat-button [matMenuTriggerFor]="menu1">
      <img src="assets/images/account_black.png" alt=""/>
      <img src="assets/images/account.svg" alt=""/>
    </button>
    <mat-menu #menu1="matMenu" class="loginDropDown">
      <h3>Welcome , Nagesh!</h3>
      <button mat-button class="submitButton">Log out</button>
    </mat-menu>
  </mat-toolbar-row>
  </mat-toolbar>
</header>


<div class="home_banner callasia_banner">
    <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
</div>
</div>

</div>

<div class="callRateArea">
  <div class="container">
    <div class="row"> 
      <div class="col-md-12"><h2 class="heading_style2 text-left callAsia">Great rates to call Asia</h2></div>
      <div class="col-md-4">
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-af" alt="Afghanistan" /></span>
            <span>Afghanistan</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-in" alt="India" /></span>
            <span>India</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-my" alt="Malaysia" /></span>
            <span>Malaysia</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-pk" alt="Pakistan" /></span>
            <span>Pakistan</span>
            <span>3.6&euro;/min</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-bd" alt="Bangladesh" /></span>
            <span>Bangladesh</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-jp" alt="Japan" /></span>
            <span>Japan</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-np" alt="Nepal" /></span>
            <span>Nepal</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-lk" alt="Srilanka" /></span>
            <span>Srilanka</span>
            <span>3.6&euro;/min</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-cn" alt="China" /></span>
            <span>China</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-jo" alt="Jordan" /></span>
            <span>Jordan</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-om" alt="Oman" /></span>
            <span>Oman</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-ae" alt="UAE" /></span>
            <span>UAE</span>
            <span>3.6&euro;/min</span>
        </div>
      </div>
    </div>
    <!-- more area -->
    <div class="showmoreArea" [ngClass]="{'show': showmore == 1, 'hide': showmore == 0}">
    <div class="row">
      <div class="col-md-4">
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-af" alt="Afghanistan" /></span>
            <span>Afghanistan</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-bd" alt="Bangladesh" /></span>
            <span>Bangladesh</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-cn" alt="China" /></span>
            <span>China</span>
            <span>3.6&euro;/min</span>
        </div>
        
      </div>
      <div class="col-md-4">
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-in" alt="India" /></span>
            <span>India</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-jp" alt="Japan" /></span>
            <span>Japan</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-jo" alt="Jordan" /></span>
            <span>Jordan</span>
            <span>3.6&euro;/min</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-af" alt="Afghanistan" /></span>
            <span>Afghanistan</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-bd" alt="Bangladesh" /></span>
            <span>Bangladesh</span>
            <span>3.6&euro;/min</span>
        </div>
        <div class="commonRateArea">
            <span><img src="assets/images/blank.gif" class="flag flag-cn" alt="China" /></span>
            <span>China</span>
            <span>3.6&euro;/min</span>
        </div>
      </div>
    </div>
    </div>
    <!-- more area -->
    <div class="clearBoth">
      <h2 class="heading_style8"> 
          <span *ngIf="showmore == 0" (click)="showMoreCountry()" class="showmore_country">Show more</span>
          <span *ngIf="showmore == 1" (click)="hideMoreCountry()" class="showmore_country">Show less</span>
      </h2>
    </div>
  </div>
</div>

<!-- still searching area -->
<div class="stillSearchingArea">
    <h3>Still searching?</h3>
    <div class="searchingSelect">
      <mat-form-field>
        <mat-select placeholder="Where do you wish to call?">
          <mat-option value="india">India</mat-option>
          <mat-option value="usa">USA</mat-option> 
        </mat-select>
      </mat-form-field>
    </div>
</div>
<!-- still searching area -->

<!--Footer-->
<app-footer></app-footer>
<!--Footer-->
</mat-sidenav-content>
</mat-sidenav-container>
