
<mat-sidenav-container>
<mat-sidenav class="slidemenu" fixedInViewport="true" #sidenav [mode]="mode.value">
    <div class="closs_area">
        <span class="cross-icon" (click)="sidenav.toggle()">
          <img src="assets/images/cross_icon_sidemenu.jpg" alt=""/>
        </span>
        <span>
          <mat-form-field>
          <mat-select placeholder="EN">
            <mat-option value="en">EN</mat-option>
          </mat-select>
        </mat-form-field>
        </span>         
    </div>
    <mat-nav-list role="list">
      <app-sidemenu></app-sidemenu>
    </mat-nav-list>
    <div class="form_row1">
        <div class="input_holder1">
            <button mat-button class="submitButton">Free Trail</button> 
        </div>
    </div>
</mat-sidenav>
<mat-sidenav-content>
<div class="wraper">
  <div class="first_fold">
<header [ngClass]="{'active': headerValue == 1, 'disabled2': headerValue == 2}" class="header_style2">
  
  <mat-toolbar>  
    <mat-toolbar-row>
    <button class="matButtonBGN1" mat-button (click)="sidenav.toggle()">
      <img src="assets/images/more_icon_white.png"  alt=""/>
      <img src="assets/images/menu_icon_black.png" alt=""/>
    </button>
    <span class="colorWhite" routerLink="/deal1">DEALS</span>
    <span class="colorWhite">SHOP</span>
    <span class="example-spacer"></span>
    <span class="logo"><a routerLink="/homepage"><img src="assets/images/raza_logo.png" alt=""/></a></span>
    <span class="example-spacer"></span>
    <span class="colorWhite" routerLink="/recharge1">RECHARGE</span>
    <button class="matButtonBGN0 nobg" mat-button [matMenuTriggerFor]="menu">
      <img src="assets/images/account.svg" alt=""/>
      <img src="assets/images/account_black.png" alt=""/> 
    </button>
    <mat-menu #menu="matMenu" class="loginDropDown">
      <h3>Welcome</h3>
      <p>Manage your account by just logging in. Discover new features that are absolutely free!</p>

      <p>New customer? Register or just download Raza app now!</p>
      <button mat-button class="submitButton">Sign Up</button>
      <button mat-button class="submitButton loginButton">Login</button> 
    </mat-menu>
  </mat-toolbar-row>
  </mat-toolbar>
</header>

<header [ngClass]="{'active': headerValue == 2, 'disabled': headerValue == 1}" class="header_style2 headerBackground"> 
  <mat-toolbar>  
    <mat-toolbar-row>
    <button class="matButtonBGN2" mat-button (click)="sidenav.toggle()">
      <img src="assets/images/menu_icon_black.png" alt=""/>
      <img src="assets/images/more_icon_white.png"  alt=""/>
    </button>
    <span class="colorWhite" routerLink="/deal1">DEALS</span>
    <span class="colorWhite">SHOP</span> 
    <span class="example-spacer"></span>
    <span><a routerLink="/homepage"><img  width="137" height="46" src="assets/images/raza_logo_black.png" alt=""/></a></span>
    <span class="example-spacer"></span>
    <span class="colorWhite" routerLink="/recharge1">RECHARGE</span>
    <button class="matButtonBGN-next nobg" mat-button [matMenuTriggerFor]="menu1">
      <img src="assets/images/account_black.png" alt=""/>
      <img src="assets/images/account.svg" alt=""/>
    </button>
    <mat-menu #menu1="matMenu" class="loginDropDown">
      <h3>Welcome , Nagesh!</h3>
      <button mat-button class="submitButton">Log out</button>
    </mat-menu>
  </mat-toolbar-row>
  </mat-toolbar>
</header> 

    
    <div class="home_banner newcustomermobile_banner">
        <!-- <img src="assets/images/banner_image.png" alt="banner"> -->
    </div>
  </div>
  <!-- common wrapper -->
  <div class="commonWrapperArea newcustomer newCustomerTab"> 
      <div class="commonWrapperAreaShadowArea">
          <div class="coverShadow"></div>
      </div>
      <mat-tab-group [selectedIndex]="1">
        <mat-tab label="Existing Customer">
            <p class="headerText">Login! Get access to your account details anywhere anytime!</p> 
            <div class="virtual1Form">
                <form class="example-form">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="label2">Welcome back,</p>   
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Enter Mobile Number / Email" value="">
                            </mat-form-field>
                        </div>
                        
                        <div class="col-sm-12">
                            <span class="floatRight forgetPass"><a href="#">Forgot password?</a></span>
                            <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" value="">
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <button mat-button class="submitButtonSmall">Login</button> 
                    <p class="haveAccountAlready">New to raza? <a href="#">Sign up now!</a></p>  
                </form> 
            </div>
            <div class="loginWithSocialmedia">
                <a href=""><img src="assets/images/facebook_icon.jpg" alt="" /></a>
                <a href=""><img src="assets/images/googleplus_icon.jpg" alt="" /></a>
            </div>
        </mat-tab>
        <mat-tab label="New customer"> 
            <p class="headerText">Register here! You are few steps away to make your first call.</p> 

                <div class="virtual1Form">
                    <form class="example-form">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="label2">Welcome to Raza,</p>     
                                <mat-form-field>
                                    <mat-select placeholder="Select Country">
                                        <mat-option *ngFor="let country of countries" [value]="country.value">
                                        {{ country.viewValue }}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12 formRowM15">
                                
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="Enter Mobile Number / Email" value="">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-12">
                                <span class="floatRight forgetPass">Resend code? <a href="#">Click here</a></span>
                                <mat-form-field class="example-full-width">
                                <input matInput placeholder="Verify Code" value="">
                                </mat-form-field>
                            </div>
                            
                        </div>
                        <button mat-button class="submitButtonSmall">Sign Up</button> 
                        <p class="haveAccountAlready">Have an account already? <a href="#">Login here!</a></p> 
                        
                    </form>
                </div>
                <p class="agreementtopolicytext">By signing up, you agree to Website Terms, Privacy Policy, Licensing Terms and to receive emails that i can opt out of at anytime.</p>
        </mat-tab>
      </mat-tab-group>
      
      

  </div>
  <!-- common wrapper -->
</div>


<!--Footer-->
<div class="footerMargin">
    <app-footer></app-footer>
</div>
<!--Footer-->
</mat-sidenav-content>
</mat-sidenav-container>
