<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>










<!--

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    
  </mat-sidenav-content>
</mat-sidenav-container>

-->







