.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hideinMobile{display: block;}
.showInmobile { display: none;}

.mat-toolbar{ background: none;}
.nobg{ background: none; cursor: pointer; border:none;}

.commonWrapperArea p.label{ color: #103F8A;font-size: 16px;font-family: 'Montserrat', sans-serif; font-weight: 400; line-height: 20px;margin: 0; }
.commonWrapperArea p.label span{ display: block; font-size: 12px; color: #808080;} 

.commonWrapperArea p.price{ color: #103F8A;font-size: 30px;font-family: 'Montserrat', sans-serif; font-weight: 400; line-height: 29px; margin-bottom: 25px; }
.commonWrapperArea p.price span{  font-size: 12px; color: #808080;line-height: 12px;} 


.newcustomer h3{ color: #0B203E; font-size: 24px; text-transform: uppercase; }
.newcustomer h3 span{ 
    font-weight: 500;
    padding: 0 16px;
    border-left: 1px solid #0B203E;
    margin-left: 10px;
}
.newcustomer p.headerText{ color: #808080; font-size: 15px;}
.newcustomer p.label2{color: #0B203E; font-size: 20px;font-family: 'Montserrat', sans-serif; font-weight: 400; margin: 0;}

.forgetPass{position: absolute;
    right: 15px;
    font-size: 12px;
    top: 15px; color: #0A1F3F; z-index: 2;}
.forgetPass a{ color: #0B3D8D; }
.newcustomer p.haveAccountAlready{color: #0B203E; font-size: 16px;font-family: 'Montserrat', sans-serif; font-weight: 400; text-align: center; margin-top: 10px;}
.newcustomer p.haveAccountAlready a{ color: #0B3D8D;}
.newcustomer p.agreementtopolicytext{color: #0B203E; font-size: 14px;font-family: 'Montserrat', sans-serif; font-weight: 400; margin-top: 25px; text-align: center;}


.deals{ padding: 30px 100px !important;}
.deals h2{ color: #0B203E;font-size: 29px; font-family: 'Montserrat', sans-serif; font-weight: 400; text-align: center;}

.deals .table{  margin-top: 60px; /* -webkit-box-shadow: 20px 20px 50px 0px rgba(194,190,194,1);
-moz-box-shadow: 20px 20px 50px 0px rgba(194,190,194,1);
box-shadow: 20px 20px 50px 0px rgba(194,190,194,1);*/}
.deals .table thead th{ border:none; color: #E70520; font-size: 16px; font-family: 'Montserrat', sans-serif; font-weight: 400; }
.deals .table-striped tbody tr:nth-of-type(odd) {
    background-color:#F8F8F8;
}
.deals .table tr td{ color: #808080; font-size: 16px; font-family: 'Montserrat', sans-serif; font-weight: 400; }
.deals .table td,.deals .table th{border: none; padding: 15px 30px;}
.deals .table td:last-child, .deals .table th:last-child{ text-align: right;}
.dropDownArea{ width: 60%; margin:30px auto 10px;}
.deals .submitButton{ width: auto; padding: 13px 30px;}
.deals .buttonArea{ margin: 30px 0;}
.deals .card-header a{ color: #808080 !important; font-size: 16px;}
.linethroughArea{ position: relative;height: 40px;margin:68px 0 23px;}
.line{ height: 1px; background: #0B203E;}
.linethroughArea span{ background: #fff; color: #3A4B63; font-size: 24px; font-family: 'Montserrat', sans-serif; font-weight: 400; position: absolute; padding: 10px 40px;;left: 41%; top: -26px; }




@media only screen and (max-width: 650px)  {
  .hideinMobile{display: none;}
  .showInmobile { display: block;}
  .three_service{ height: 360px;}
  .virtual1Form{ width: auto; margin: 25px auto 0;}
  .commonWrapperArea h3{ font-size: 12px;}
  .commonWrapperArea{padding: 30px 12px;}
  .commonWrapperArea p.headerText{ font-size: 14px; line-height:20px;}
  .virtualNumberList h4{font-size: 19px;}
  .forgetPass{ top:-13px;}

  ul.deal1commonUl li{ width: 100%; display: block; border-right: none; border-bottom: 1px solid #E2E7ED; height:auto;}
  ul.deal1commonUl li:last-child{ border-bottom: none;}
  .deals{ padding:30px 10px !important;}
  .deals h2{ font-size: 20px !important;}
  .deals .table th,.deals .table td{ font-size: 14px !important;}
  .deals .card-header a{ font-size: 13px !important; line-height: 26px !important;}
}